# Dependencies
node_modules/
.pnpm-store/

# Next.js build outputs
.next/
out/

# Build artifacts
dist/
build/
*.tsbuildinfo

# Coverage and reports
coverage/
/reports/
html-report/
playwright-report/
test-results/

# Environment files and secrets
.env
.env.local
.env.backup
.env.development.local
.env.test.local
.env.production.local
*.env
*.pem

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store


# Turbo cache
.turbo/cache/

# Turbo logs
**/.turbo/